
<div class="container-fluid">
  <div class="card mb-3" style="max-width: 740px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://img.freepik.com/vector-premium/doctores-grupo-trabajadores-salud-medico-jefe-especialistas-medicos_165429-5.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-titles"><b>Especialidades Hospital Belen</b></h5>
          <h5 class="card-title">Especialidad: &nbsp;{{specialty.name}}</h5>
          <h5 class="card-title">Nro de Doctores: &nbsp;{{specialty.numberOfDoctors}}</h5>
          <h5 class="card-title">Habilitación: &nbsp;{{specialty.isEnabled}}</h5>

          <button type="button" class="btn btn-dark" routerLink="/specialtys">Regresar</button>
        </div>
      </div>
    </div>
  </div>
</div>