
.btn {
    margin-left: 40px;
    background-color: #077903;
}

.btn-success, .btn-success.disabled {
    color: white;
    font-size: 13px;
  

}

.table td, .table th {
text-align: center;
}

th{
    color: rgb(72, 25, 243);
    font-size: 16px;
}

.table-active{
    background-color: rgb(116, 169, 250);
    color: white;
    font-size: medium;
}